@font-face
{
   font-family: "Material Icons";
   src: url('MaterialIcons-Regular.woff') format('woff'),
        url('MaterialIcons-Regular.ttf') format('truetype'),
        url('MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg'),
        url('MaterialIcons-Regular.eot') format('embedded-opentype');
}
@-webkit-keyframes animate-border
{
   0% { border-color: #16409F;  }
   100% { border-color: #00FF7F;  }
}
@-moz-keyframes animate-border
{
   0% { border-color: #16409F;  }
   100% { border-color: #00FF7F;  }
}
@keyframes animate-border
{
   0% { border-color: #16409F;  }
   100% { border-color: #00FF7F;  }
}
@-webkit-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-left
{
   0% { -webkit-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-left
{
   0% { -moz-transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-left
{
   0% { transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-right
{
   0% { -webkit-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-right
{
   0% { -moz-transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-right
{
   0% { transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-in-up
{
   0% { -webkit-transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-up
{
   0% { -moz-transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-up
{
   0% { transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes fall
{
   0% { -webkit-transform: perspective(1300px) translate3d(0px,0px,600px) rotateX(20deg) ; opacity: 0;  }
   100% { -webkit-transform: translate3d(0px,0px,0px) rotateX(0deg) ; opacity: 1;  }
}
@-moz-keyframes fall
{
   0% { -moz-transform: perspective(1300px) translate3d(0px,0px,600px) rotateX(20deg) ; opacity: 0;  }
   100% { -moz-transform: translate3d(0px,0px,0px) rotateX(0deg) ; opacity: 1;  }
}
@keyframes fall
{
   0% { transform: perspective(1300px) translate3d(0px,0px,600px) rotateX(20deg) ; opacity: 0;  }
   100% { transform: translate3d(0px,0px,0px) rotateX(0deg) ; opacity: 1;  }
}
@-webkit-keyframes pop
{
   0% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
@-moz-keyframes pop
{
   0% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
@keyframes pop
{
   0% { transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
@-webkit-keyframes puff-in
{
   0% { -webkit-transform: rotate(0deg) scale(2,2) ; opacity: 0; -webkit-transform-origin: 50% 50%;  }
   100% { -webkit-transform: rotate(0deg) scale(1,1) ; opacity: 1; -webkit-transform-origin: 50% 50%;  }
}
@-moz-keyframes puff-in
{
   0% { -moz-transform: rotate(0deg) scale(2,2) ; opacity: 0; -moz-transform-origin: 50% 50%;  }
   100% { -moz-transform: rotate(0deg) scale(1,1) ; opacity: 1; -moz-transform-origin: 50% 50%;  }
}
@keyframes puff-in
{
   0% { transform: rotate(0deg) scale(2,2) ; opacity: 0; transform-origin: 50% 50%;  }
   100% { transform: rotate(0deg) scale(1,1) ; opacity: 1; transform-origin: 50% 50%;  }
}
@-webkit-keyframes slide-right-in
{
   0% { -webkit-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -webkit-transform-origin: 0 0;  }
   100% { opacity: 1; -webkit-transform: translate(0px,0px) rotate(0deg) ; -webkit-transform-origin: 0 0;  }
}
@-moz-keyframes slide-right-in
{
   0% { -moz-transform: translate(100%,0px) rotate(1deg) ; opacity: 0; -moz-transform-origin: 0 0;  }
   100% { opacity: 1; -moz-transform: translate(0px,0px) rotate(0deg) ; -moz-transform-origin: 0 0;  }
}
@keyframes slide-right-in
{
   0% { transform: translate(100%,0px) rotate(1deg) ; opacity: 0; transform-origin: 0 0;  }
   100% { opacity: 1; transform: translate(0px,0px) rotate(0deg) ; transform-origin: 0 0;  }
}
@-webkit-keyframes transform-tada
{
   0% { -webkit-transform: rotate(0deg) ;  }
   10% { -webkit-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -webkit-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-tada
{
   0% { -moz-transform: rotate(0deg) ;  }
   10% { -moz-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -moz-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-tada
{
   0% { transform: rotate(0deg) ;  }
   10% { transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
a.style1
{
   color: #7CFC00;
   text-decoration: underline;
}
a.style1:visited
{
   color: #C0C0C0;
   text-decoration: underline;
}
a.style1:active
{
   color: #FF0000;
   text-decoration: underline;
}
a.style1:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.half-circle-top
{
   text-decoration: none;
   background-color: #000000;
}
.half-circle-top:before
{
   text-decoration: none;
   background-color: #000000;
   position: absolute;
   content: "";
   left: 50%;
   top: -50px;
   z-index: 10;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   transform: translateX(-50%);
}
.half-circle-bottom
{
   text-decoration: none;
   background-color: #000000;
}
.half-circle-bottom:after
{
   text-decoration: none;
   background-color: #000000;
   position: absolute;
   content: "";
   left: 50%;
   top: auto;
   bottom: -50px;
   z-index: 10;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   transform: translateX(-50%);
}
.diagonal
{
   text-decoration: none;
   background-color: #FFFFFF;
   z-index: 1;
   padding-top: 6em;
}
.diagonal:before
{
   text-decoration: none;
   background-color: #FFFFFF;
   display: block;
   position: absolute;
   content: '';
   top: 0;
   left: -25%;
   z-index: -1;
   width: 150%;
   height: 75%;
   transform: rotate(-2deg);
   transform-origin: 0 0;
   height: 50%;
   transform: rotate(-3deg);
   transform-origin: 3% 0;
}
.diagonal:after
{
   text-decoration: none;
   background-color: #000000;
   background: linear-gradient(to top, #000000 0%, #000000 100%);
   display: block;
   position: absolute;
   content: '';
   top: 0;
   left: -25%;
   z-index: -1;
   width: 150%;
   height: 75%;
   transform: rotate(-2deg);
   transform-origin: 0 0;
}
.triangle
{
   text-decoration: none;
   background-color: #FFFFFF;
}
.triangle:after
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   left: 50%;
   width: 100px;
   height: 100px;
   transform: translateX(-50%) rotate(45deg);
   bottom: -50px;
   z-index: 10;
}
.triangles
{
   text-decoration: none;
   background-color: #FFFFFF;
}
.triangles:after
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   left: 50%;
   width: 50px;
   height: 50px;
   transform: translateX(-50%) rotate(45deg);
   bottom: -25px;
   z-index: 10;
   background: #FFFFFF;
   box-shadow: -50px 50px 0px #FFFFFF, 50px -50px 0px #FFFFFF;
}
.curve
{
   text-decoration: none;
   background-color: #FFFFFF;
}
.curve:before
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   top: -70px;
   left: 0px;
   z-index: 10;
   width: 50%;
   height: 70px;
   border-radius: 0 80px 0 0;
}
.curve:after
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   top: -70px;
   z-index: 10;
   width: 50%;
   height: 70px;
   left: 50%;
   border-radius: 80px 0 0 0;
}
.blocks
{
   text-decoration: none;
   background-color: #000000;
}
.blocks:before
{
   text-decoration: none;
   background-color: transparent;
   position: absolute;
   content: "";
   top: -50px;
   left: 0px;
   width: 100%;
   height: 50px;
   background-image: linear-gradient(to right, #000000 50%, #FFFFFF 50%);
   background-size: 130px 100%;
}
.zigzag
{
   text-decoration: none;
   background-color: #000000;
}
.zigzag:before
{
   text-decoration: none;
   background-color: transparent;
   top: -90px;
   background-image: linear-gradient(315deg, #000000 25%, transparent 25%), linear-gradient( 45deg, #000000 25%, transparent 25%);
   background-position: 50%;
   background-size: 50px 100%;
   position: absolute;
   content: "";
   right: 0px;
   left: 0px;
   z-index: 10;
   display: block;
   height: 90px;
}
.zigzag-bottom
{
   text-decoration: none;
   background-color: #000000;
}
.zigzag-bottom:after
{
   text-decoration: none;
   background-color: transparent;
   top: 100%;
   background-image: linear-gradient(135deg, #FFFFFF 25%, transparent 25%), linear-gradient(225deg, #FFFFFF 25%, transparent 25%);
   background-position: 50%;
   background-size: 50px 100%;
   position: absolute;
   content: "";
   right: 0px;
   left: 0px;
   z-index: 10;
   display: block;
   height: 90px;
}
.triangles-top
{
   text-decoration: none;
   background-color: #FFFFFF;
}
.triangles-top:before
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   left: 50%;
   width: 50px;
   height: 50px;
   transform: translateX(-50%) rotate(45deg);
   background: #FFFFFF;
   top: -25px;
   box-shadow: -50px 50px 0px #FFFFFF, 50px -50px 0px #FFFFFF;
}
.triangle-top
{
   text-decoration: none;
   background-color: #FFFFFF;
}
.triangle-top:before
{
   text-decoration: none;
   background-color: #FFFFFF;
   position: absolute;
   content: "";
   left: 50%;
   width: 100px;
   height: 100px;
   transform: translateX(-50%) rotate(45deg);
   top: -50px;
}
@media only screen and (min-width: 1280px)
{
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
}
@media only screen and (min-width: 980px) and (max-width: 1023px)
{
}
@media only screen and (min-width: 800px) and (max-width: 979px)
{
}
@media only screen and (min-width: 480px) and (max-width: 799px)
{
}
@media only screen and (max-width: 479px)
{
}
